.header-logos {
    height: 6rem;
}
.header-logos div > a > img {
    height: 100%;
    width: auto;
}
.header-logos div > a > picture > img {
    width: auto;
    height: 100%;
}
.fadeInMenu {
    animation-duration: 0.4s;
}
.fadeOutMenu {
    animation-duration: 0.4s;
}
.header-menu__vertical > .header-menu__vertical--open > .close {
    margin: 2rem 2.5rem;
}
main {
    display: flex;
}