.legal-notice {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    height: 100%;
    overflow-y: auto;
}
.legal-notice * {
    color: #d9d9d9;
}
.legal-notice > p:not(.legal-notice__title) {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 2rem;
}
.legal-notice > p > em.bold {
    font-weight: bold;
}
.legal-notice > p > em:not(.italic) {
    font-style: normal;
}
.legal-notice__title {
    margin: 1.6rem 0;
    font-size: 2.4rem;
    font-weight: bold;
}
.legal-notice__footer > ul {
    font-style: normal;
    list-style: none;
    margin: 2rem 0 0 0;
}
