.inactive {
    display: none;
}
.modal__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: inherit;
    background-color: var(--primary-soft);
}
.modal__background > .modal__notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 75%;
    height: fit-content;
    max-width: 40rem;
    background-color: var(--bg-light);
    box-shadow: 0 0 1rem 0.5rem var(--primary);
    border-radius: 0.8rem;
    margin: 10rem auto;
    color: var(--font-color-dark);
}
.modal__notice > .modal__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}
.modal__notice > .modal__description {
    text-align: justify;
    font-size: 1.4rem;
}
.modal__notice > .modal__description > .use-license {
    color: var(--secondary);
    text-decoration: underline;
}
.modal__notice > button {
    width: 15rem;
    height: 3.2rem;
    margin: 2rem 0 0 0;
    border: 0 none;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    background-color: var(--secondary);
}
.modal__notice > button:active {
    background-color: var(--secondary-dark);
}
.welcome {
    position: absolute;
    display: inline-block;
    width: 100%;
    min-width: 32rem;
    max-width: 45rem;
    padding: 2rem;
    margin: auto;
    font-size: 1.1rem;
    opacity: 0.5;
    z-index: 3;
    pointer-events: none;
}
/* Menú interactivo */
.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-menu > picture {
    display: inline-block;
    position: relative;
}
.main-menu > picture > img {
    width: 100%;
    height: 100%;
    max-width: 35rem;
    max-height: 35rem;
}
.main-menu__item--close {
    position: absolute;
    width: 2.4rem;
    height: 3.4rem;
    background-image: url('../img/icons/32/location_menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
    z-index: 2;
}
.shake {
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 2px);
    }
    40% {
        transform: translate(0, -2px);
    }
    60% {
        transform: translate(0, 2px);
    }
    80% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.main-menu__item--close.item-1 {
    animation-delay: 0.2s;
    top: 10%;
    left: 34.5%;
}
.main-menu__item--close.item-2 {
    animation-delay: 0.4s;
    top: 34%;
    left: 53%;
}
.main-menu__item--close.item-3 {
    animation-delay: 0.6s;
    top: 52%;
    left: 49%;
}
.main-menu__item--close.item-4 {
    animation-delay: 0.8s;
    top: 1%;
    left: 40.75%;
}
.main-menu__item--open {
    position: absolute;
    display: flex;
    column-gap: 0.4rem;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: bold;    
    border-radius: 1rem;
    background-color: var(--bg-light);
    box-shadow: 0 0 0 0.4rem var(--secondary);
    z-index: 3;
}
.main-menu__item--open > p {
    padding: 0.4rem;
    color: var(--font-color-dark);
}
.main-menu__item--open > .link-mural {
    background-color: var(--secondary);
    padding: 0.4rem;
    color: var(--font-color-dark);
}
.main-menu__item--open > .link-mural > p {
    display: inline-block;
}
.main-menu__item--open > .link-mural > span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("../img/icons/32/right_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-menu__item--open.item-1 {
    top: 10%;
    left: calc(50% - 15rem);
}
.main-menu__item--open.item-2 {
    top: 34%;
    left: calc(50% - 2rem);
}
.main-menu__item--open.item-3 {
    top: 52%;
    left: calc(50% - 5rem);
}
.main-menu__item--open.item-4 {
    top: 1%;
    left: calc(50% - 8rem);
}
.main-menu__item--open.inactive {
    display: none;
}
@media screen and (min-width: 600px) and (min-height: 600px){
    .main-menu__item--close {
        width: 2.8rem;
        height: 3.9rem;
    }
    .main-menu > picture > img {
        width: 100%;
        max-width: 45rem;
        object-fit: contain;
    }
    .main-menu__item--close.item-1 {
        top: 12.5%;
        left: 35%;
    }
    .main-menu__item--close.item-2 {
        top: 36%;
        left: 53%;
    }
    .main-menu__item--close.item-3 {
        top: 55%;
        left: 49.5%;
    }
    .main-menu__item--close.item-4 {
        top: 3%;
        left: 42%;
    }
    .main-menu__item--open {
        font-size: 1.4rem;
    }
    .main-menu__item--open.item-1 {
        top: 13%;
    }
    .main-menu__item--open.item-2 {
        top: 36.5%;
    }
    .main-menu__item--open.item-3 {
        top: 55.5%;
    }
    .main-menu__item--open.item-4 {
        top: 3.5%;
    }
}
@media screen and (min-width: 992px) {
    .main-menu > picture {
        width: 75%;
        max-width: 75rem;
    }
    .main-menu > picture > img {
        width: 100%;
        max-width: 75rem;
        object-fit: contain;
    }
    .main-menu__item--close.item-1 {
        top: 17%;
        left: 36%;
    }
    .main-menu__item--close.item-2 {
        top: 41%;
        left: 54%;
    }
    .main-menu__item--close.item-3 {
        top: 59%;
        left: 50.5%;
    }
    .main-menu__item--close.item-4 {
        top: 7%;
        left: 42%;
    }
    .main-menu__item--open.item-1 {
        top: 18%;
    }
    .main-menu__item--open.item-2 {
        top: 42%;
    }
    .main-menu__item--open.item-3 {
        top: 60%;
    }
    .main-menu__item--open.item-4 {
        top: 8%;
    }
}