.mural__slide {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20rem;
    height: 12.4rem;
    margin: 0 0 0.8rem 2.4rem;
    border-radius: 0.5rem;
    background-color: transparent;
    align-items: center;
    z-index: 3;
    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.mural__slide > .slide__figure {
    margin: 0 1rem 0 0;
    height: fit-content;
}
.mural__slide > .slide__figure.active {
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.3rem var(--secondary);
}
.mural__slide > .slide__figure.inactive {
    display: block;
}
.mural__slide > .slide__figure > img {
    display: block;
    width: 12.5rem;
    height: 7.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    scroll-snap-align: center;
}
.mural__slide > .slide__figure:first-of-type {
    margin-left: 5rem;
}
.mural__slide > .slide__figure:last-of-type {
    margin-right: 5rem;
}
.mural__slide > .slide__figure > figcaption {
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
    height: 4.2rem;
    width: 12.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--primary-soft);
}
.mural-info {
    position: absolute;
    top: 0;
    width: 100%;
}
.mural-section.short {
    position: relative;
    padding: 0.2rem 2rem;
    width: 100%;
    height: var(--mural-section-short);
    min-height: var(--mural-section-short);
    font-size: 1.2rem;
    background-color: var(--secondary);
}
.mural-section.short.inactive {
    display: none;
}
.mural-section.short > span {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2rem;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url("../img/icons/32/down.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        top: -50vh;
        left: 0;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
     }
}
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -50vh;
     }
}
.fade--in {
    animation-name: fadeInAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.fade--out {
    animation-name: fadeOutAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.mural-section.long {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(50px) fit-content(45%) fit-content(35%) auto;
    font-size: 1.2rem;
    height: 90vh;
    min-height: 420px;
    background-color: var(--secondary);
    z-index: 4;
}
.mural-section.long.inactive {
    display: none;
}
.mural-section-long__title {
    padding: 2rem 0 0 2rem;
    width: 90%;
    background-color: var(--secondary);
}
.mural-section-long__title h2 {
    display: inline-block;
    font-size: 1.4rem;
}
.mural-section-long__title > .close {
    margin: 2rem;
    top: 0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
}
.mural-section__description {
    padding: 0.8rem 2rem 1.5rem 2rem;
}
.mural-section__location-image {
    width: 100%;
    height: fit-content;
    padding: 0.8rem 2rem;
    background-color: var(--white);
}
.mural-section__location-image > picture {
    display: block;
    margin: auto;
    width: fit-content;
}
/* Tamaño de las imágenes de 450px x 258px */
.mural-section__location-image > picture > img {
    width: 100%;
    min-width: 200px;
    max-width: 450px;
    min-height: 115px;
    max-height: 258px;
}
.mural-section__credits {
    padding: 0.4rem 2rem 2rem 2rem;
    font-size: 1rem;
    color: var(--font-color-secondary);
    background-color: var(--primary);
}
/* Override toolbar styles with important property due to
styles were write inline */
div#mural-toolbar {
    position: absolute !important;
    margin: 1rem;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 204px;
    z-index: 3;
}
div#mural-toolbar.mural-toolbar>div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
div#mural-toolbar.mural-toolbar>div img {
    width: 3.2rem;
    height: 3.2rem;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(1)>div>div {
    display: flex !important;
    flex-direction: column-reverse;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(1)>div>div>div {
    display: block !important;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(3)>div>div {
    display: flex !important;
    flex-direction: column;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(3)>div>div>div {
    display: block !important;
}
div#mural-toolbar.mural-toolbar>div>div {
    position: relative !important;
}
.mural-image{
    position: absolute;
    top: var(--mural-section-short);
    width: 100vw;
    height: var(--height-portrait-mural);
    min-width: 320px;
    background-color: var(--primary);
    z-index: 2;
}
.mural-image.fullpage{
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
}
.mural-image.inactive{
    display: none;
}
@media screen and (orientation: landscape) and (max-height: 600px) {
    .mural-info {
        width: auto;
        height: 100%;
        top: 0;
        left: 0;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            left: -50vw;
        }
        100% {
            opacity: 1;
            left: 0;
         }
    }
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
            left: 0;
        }
        100% {
            opacity: 0;
            left: -50vw;
         }
    }
    .mural-section.short {
        padding: 0.2rem 0.4rem 2rem 0.4rem;
        height: 100%;
        width: var(--mural-section-short);
        font-size: 1.2rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
    }
    .mural-section.short > span {
        top: auto;
        right: 0;
        bottom: 0;
        margin: 4px;
        transform: rotate(90deg);
    }
    .mural-section.long {
        position: absolute;
        top: 0;
        width: 100vw;
        height: fit-content;
        min-height: 90vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: fit-content(30px) auto fit-content(18%);
        background: linear-gradient(to right, var(--secondary) 50%, var(--white) 50%);
    }
    .mural-section-long__title {
        padding: 2rem 2rem 1rem 2rem;
        width: 100%;
    }
    .mural-section__description {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .mural-section__credits {
        grid-column-start: 2;
        grid-row-start: 3;
        padding: 2rem 2rem;
        color: var(--black);
        background-color: var(--white);
    }
    .mural-section__location-image {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: auto;
    }
    .mural-image{
        top: 0;
        left: var(--mural-section-short);
        width: var(--height-portrait-mural);
        height: 100%;
        min-width: 320px;
        z-index: 2;
    }
    .mural-image.fullpage{
        left: 0;
    }
    .mural__slide {
        bottom: 0;
        left: calc(50% - 10rem);
        width: 20rem;
        height: 10rem;
        margin: 0 0 0.5rem 0;
    }
    .mural__slide > .slide__figure > img {
        width: 10rem;
        height: 6rem;
        margin-right: 0 0.5rem;
    }
    .mural__slide > .slide__figure > figcaption {
        height: 3.2rem;
    }
    .mural__slide > .slide__figure:first-of-type {
        margin-left: 5rem;
    }
    .mural__slide > .slide__figure:last-of-type {
        margin-right: 5rem;
    }
    .mural__slide > .slide__figure > figcaption {
        font-size: 0.8rem;
        width: 10rem;
    }
}
@media screen and (orientation: portrait) and (min-width: 600px) {
    .mural-section.short {
        height: var(--mural-section-short);
    }
    .mural-section.short > p {
        font-size: 1.6rem;
        padding: 0 0 2rem 0;
    }
    .mural-section.short > span {
        width: 2rem;
        height: 2rem;
        margin: 0 1rem 0 0;
    }
    .mural-section.long{
        height: 80vh;
    }
    .mural-section-long__title {
        margin: 0 0 2rem 0;
    }
    .mural-section-long__title > h2 {
        font-size: 2rem;
    }
    .mural-section-long__title > p {
        font-size: 1.3rem;
    }
    .mural-section-long__title > span {
        width: 3rem;
        height: 3rem;
    }
    .mural-section__description {
        font-size: 1.3rem;
        margin: 0 0 2rem 0;
    }
    .mural-section__location-image > picture > img {
        width: 100%;
    }
    .mural-section__credits {
        font-size: 1.1rem;
    }
    .mural-section__credits > p{
        margin: 2rem 0 0 0;
    }
    div#mural-toolbar {
        width: 4rem;
        height: 250px;
        margin: 2rem;
    }
    div#mural-toolbar.mural-toolbar>div img {
        width: 4rem;
        height: 4rem;
    }
    .mural-image{
        top: var(--mural-section-short);
    }
    .mural__slide {
        width: 32rem;
        margin:0;
        left: calc(50% - 16rem);
    }
    .mural__slide > .slide__figure:first-of-type {
        margin-left: 1rem;
    }
    .mural__slide > .slide__figure:last-of-type {
        margin-right: 1rem;
    }
}
@media screen and (orientation: landscape) and (min-height: 600px) {
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            left: -50vw;
        }
        100% {
            opacity: 1;
            left: 0;
         }
    }
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
            left: 0;
        }
        100% {
            opacity: 0;
            left: -50vw;
         }
    }
    .mural-section.short {
        padding: 0.2rem 0.4rem 2rem 0.4rem;
        height: 80vh;
        width: var(--mural-section-short);
        font-size: 1.6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
    }
    .mural-section.short > span {
        top: auto;
        right: 0;
        bottom: 0;
        margin: 0.5rem;
        transform: rotate(90deg);
    }
    .mural-section.long {
        position: absolute;
        top: 0;
        width: 100vw;
        height: fit-content;
        min-height: 80vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 50%;
        background: linear-gradient(to right, var(--secondary) 50%, var(--white) 50%);
    }
    .mural-section__description {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .mural-section__location-image {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .mural-section__credits{
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: inherit;
        color: inherit;
    }
    .mural-image{
        top: 0;
        left: var(--mural-section-short);
        width: var(--height-portrait-mural);
        height: 100%;
    }
    .mural__slide {
        width: 41rem;
        margin:0;
        left: calc(50% - 20.5rem);
    }
}
@media screen and (orientation: landscape) and (min-width: 992px) {
    .mural-info {
        display: flex;
        position: relative;
        width: fit-content;
    }
    .mural-section.long {
        position: relative;
        width: 60vw;
        height: 80vh;
        max-width: 800px;
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(5, 1fr);
        background: linear-gradient(to right, var(--secondary) 40%, var(--white) 40%);
    }
    .mural-section-long__title {
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .mural-section__description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 6;
    }
    .mural-section__location-image{
        padding: 0.5rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .mural-section__location-image > picture {
        width: fit-content;
        margin: auto;
    }
    .mural-section__location-image > picture > img {
        width: 100%;
    }
    .mural-section__credits{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .mural-image {
        position: relative;
        left: 0;
    }
}
/** Styles for slide in desktops **/
@media (hover: hover) {
    .mural__slide {
        overflow-x: hidden;
        width: 38rem;
        margin: 0 0 2rem 0;
        left: calc(50% - 19rem);
        justify-content: center;
        gap: 1rem;
    }
    #mural-slide.mural__slide > .slide__figure {
        margin: 0;
    }
    .mural__slide > .slide__figure.inactive {
        display: none;
    }
    .mural__slide > .slide__left-scroll,
    .mural__slide > .slide__right-scroll {
        position: absolute;
        width: 2.8rem;
        height: 50%;
        transition-duration: 0.3s;
        background-color: var(--primary-soft);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mural__slide > .slide__left-scroll {
        left: 0.2rem;
        background-image: url("../img/icons/32/left_arrow_white.svg");
        border-radius: 0.4rem 0 0 0.4rem;
    }
    .mural__slide > .slide__right-scroll {
        right: 0.2rem;
        background-image: url("../img/icons/32/right_arrow_white.svg");
        border-radius: 0 0.4rem 0.4rem 0;
    }
    .mural__slide > .slide__left-scroll:hover,
    .mural__slide > .slide__right-scroll:hover {
        background-color: var(--white-soft);
        box-shadow: 0 0 0.2rem 0.2rem var(--primary-soft);
        transition-duration: 0.3s;
    }
    .mural__slide > .slide__left-scroll:hover {
        background-image: url("../img/icons/32/left_arrow.svg");
    }
    .mural__slide > .slide__right-scroll:hover {
        background-image: url("../img/icons/32/right_arrow.svg");
    }
    .mural__slide > .slide__left-scroll:active,
    .mural__slide > .slide__right-scroll:active {
        background-color: var(--white);
    }
}
