* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    font-size: 62.5%;
}

:root {
    --primary: #333333;
    --primary-soft: #33333380;
    --secondary: #00ACCD;
    --secondary-dark: #0088a3ff;
    --font-color: #FFF9FB;
    --font-color-secondary: #D8D5DB;
    --white: #fff;
    --black: #171717;

    --height-portrait-mural: calc(100% - 20px);
}

a {
    color: var(--font-color-secondary);
    text-decoration: none;
}
.justify-text {
    text-align: justify;
}
/** Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    min-width: 320px;
    min-height: 50px;
    padding: 0.8rem;
    background-color: var(--primary);
    color: var(--font-color);
}
.header-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
}
.header-logos div > a > img {
    width: 100%;
    height: 100%;
    min-width: 4rem;
    max-width: 6rem;
    min-height: 4rem;
    max-width: 6rem;
}
.header-title {
    padding: 0.4rem;
    min-width: 140px;
}
.header-title h1 {
    font-size: 1.6rem;
    font-weight: bold;
}
.header-menu .header-menu__icon {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background-image: url('/desplegados_cacaxtla/img/icons/32/menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(80%);
}
/* Contenido principal */
main {
    position: relative;
    display: block;
    width: 100vw;
    height: 80vh;
    min-width: 320px;
    background-color: var(--primary);
}
main > .mural-info {
    position: absolute;
    top: 0;
    width: 100%;
}
.mural-section.short {
    position: relative;
    padding: 0.2rem 0.8rem;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    background-color: var(--secondary);
}
.mural-section.short.inactive {
    display: none;
}
.mural-section.short > span {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0.8rem;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url("/desplegados_cacaxtla/img/icons/32/down.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        top: -50vh;
    }
    100% {
        opacity: 1;
        top: 0;
     }
}
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -50vh;
     }
}
.fade--in {
    animation-name: fadeInAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.fade--out {
    animation-name: fadeOutAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.mural-section.long {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(50px) fit-content(45%) fit-content(35%) auto;
    font-size: 1.2rem;
    height: 80vh;
    background-color: var(--secondary);
    z-index: 4;
}
.mural-section.long.inactive {
    display: none;
}
.mural-section__title {
    padding: 2rem 0 0 2rem;
    width: 90%;
    background-color: var(--secondary);
}
.mural-section__title h2 {
    display: inline-block;
    font-size: 1.4rem;
}
.mural-section__title p {
    display: inline-block;
}
.mural-section__title > span {
    display: inline-block;
    position: absolute;
    margin: 2rem;
    top: 0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("/desplegados_cacaxtla/img/icons/32/close.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mural-section__description {
    padding: 0.8rem 2rem 1.5rem 2rem;
}
/* Tamaño de las imágenes de 450px x 258px */
.mural-section__location-image {
    width: 100%;
    height: fit-content;
    padding: 0.8rem 2rem;
    background-color: var(--white);
}
.mural-section__location-image > img {
    display: block;
    margin: auto;
    width: 85%;
    max-width: 450px;
    min-width: 200px;
    max-height: 258px;
}
.mural-section__credits {
    padding: 0.4rem 2rem 0 2rem;
    font-size: 1rem;
    color: var(--font-color-secondary);
    background-color: var(--primary);
}
/* Override toolbar styles with important property due to
styles were write inline */
div#mural-toolbar {
    position: absolute !important;
    margin: 1rem;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 204px;
    z-index: 3;
}
div#mural-toolbar.mural-toolbar>div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(1)>div>div {
    display: flex !important;
    flex-direction: column-reverse;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(1)>div>div>div {
    display: block !important;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(3)>div>div {
    display: flex !important;
    flex-direction: column;
}
div#mural-toolbar.mural-toolbar>div>div:nth-child(3)>div>div>div {
    display: block !important;
}
div#mural-toolbar.mural-toolbar>div>div {
    position: relative !important;
}
/* Mural styles */
.mural-image,
.mural-draw {
    position: absolute;
    top: 20px;
    width: 100vw;
    height: var(--height-portrait-mural);
    min-width: 320px;
    background-color: var(--primary);
    z-index: 2;
}
.mural-image.fullpage,
.mural-draw.fullpage {
    top: 0;
}
.mural-image.inactive,
.mural-draw.inactive {
    display: none;
}
/* Pie de página */
footer {
    width: 100vw;
    height: fit-content;
    min-width: 320px;
    min-height: 10vh;
    padding: 0.4rem;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
    color: var(--font-color-secondary);
    background-color: var(--primary);
}

footer p {
    display: inline;
}

@media screen and (orientation: landscape) {
    header {
        min-height: 10vh;
    }

    .header-logos div > a > img {
        width: 50%;
        height: 50%;
        min-width: 3rem;
        min-height: 3rem;
        max-width: 4rem;
        max-height: 4rem;
    }
    main {
        width: 100vw;
        height: 80vh;
    }
    main > .mural-info {
        width: auto;
        height: 100%;
        top: 0;
        left: 0;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            left: -50vw;
        }
        100% {
            opacity: 1;
            left: 0;
         }
    }
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
            left: 0;
        }
        100% {
            opacity: 0;
            left: -50vw;
         }
    }
    .mural-section.short {
        padding: 0.2rem 0.4rem 2rem 0.4rem;
        height: 100%;
        width: 20px;
        font-size: 1.2rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
    }
    .mural-section.short > span {
        top: auto;
        right: 0;
        bottom: 0;
        margin: 4px;
        transform: rotate(90deg);
    }
    .mural-section.long {
        position: absolute;
        top: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: fit-content(18%) auto fit-content(25%);
        background: linear-gradient(to right, var(--secondary) 50%, var(--white) 50%);
    }
    .mural-section__title {
        width: 100%;
        padding: 2rem 2rem 0 2rem;
    }
    .mural-section__title > h2,
    .mural-section__title > p {
        display: inline;
    }
    .mural-section__description {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
        padding: 0.8rem 2rem 0 2rem;
    }
    .mural-section__credits {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 2rem 2rem;
        color: var(--black);
        background-color: var(--white);
    }
    .mural-section__location-image {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 85%;
        margin: auto;
    }
    .mural-image,
    .mural-draw {
        top: 0;
        left: 20px;
        width: var(--height-portrait-mural);
        height: 100%;
        min-width: 320px;
        z-index: 2;
    }
    .mural-image.fullpage,
    .mural-draw.fullpage {
        left: 0;
    }
}

@media screen and (orientation: portrait) and (max-height: 568px) {
    header {
        height: 8vh;
        min-height: fit-content;
    }
    .header-logos {
        justify-content: left;
    }
    .header-logos div > a > img {
        min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-width: 3rem;
    }
    header > .header-title > h1 {
        font-size: 1.2rem;
    }
    main {
        height: 84vh;
    }
    .mural-section.long {
        height: 84vh;
        grid-template-rows: fit-content(35px) fit-content(50%) fit-content(34%) auto;
    }
    .mural-section__title h2 {
        display: inline-block;
        font-size: 1.2rem;
    }
    .mural-section__title p {
        display: inline;
        font-size: 1rem;
    }
    .mural-section__title > span {
        margin: 1rem;
    }
    .mural-section__description {
        font-size: 1rem;
    }
    .mural-section__credits {
        font-size: 0.8rem;
    }
    .mural-image,
    .mural-draw {
        height: var(--height-portrait-mural);
    }
    footer {
        height: 8vh;
        min-height: fit-content;
        font-size: 0.6rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 360px) {
    .mural-section.long {
        padding: 1rem;
        grid-template-rows: 15% 50% 35%;
    }
    .mural-section__title {
        padding: 0 1rem 0 0;
    }
    .mural-section__title h2 {
        font-size: 1.2rem;
    }
    .mural-section__title > span {
        margin: 1rem;
    }
    .mural-section__description {
        padding: 0 1rem 0 0;
        font-size: 1rem;
    }
    .mural-section__credits {
        padding: 1rem 0 0 1rem;
    }
    footer {
        font-size: 0.6rem;
    }
}