* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    font-size: 62.5%;
}

:root {
    --primary: #333333;
    --primary-soft: #33333380;
    --secondary: #00accd;
    --secondary-dark: #0088a3ff;
    --secondary-light: #a1d9e4;
    --font-color: #fff9fb;
    --font-color-secondary: #d8d5db;
    --white: #fff;
    --black: #171717;

    --mural-section-short: 20px;
    --height-portrait-mural: calc(100% - var(--mural-section-short));
}
body {
    overflow-x: hidden;
}
a {
    color: var(--font-color-secondary);
    text-decoration: none;
}
.justify-text {
    text-align: justify;
}
.close {
    display: inline-block;
    position: absolute;
    margin: 2rem;
    top: 0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("../img/icons/32/close.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/** Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    min-width: 320px;
    min-height: 50px;
    padding: 0.8rem;
    background-color: var(--primary);
    color: var(--font-color);
}
.header-logos {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 4rem;
}
.header-logos div > a > img,
.header-logos div > a > picture > img {
    width: 100%;
}
.header-title {
    padding: 0.4rem;
    width: 100%;
}
.header-title h1 {
    font-size: 1.6rem;
    font-weight: bold;
}
.header-menu .header-menu__icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-image: url('../img/icons/32/menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(80%);
}
@keyframes fadeInMenu {
    0% {
        opacity: 0.5;
        top: 0;
        right: -100%;
    }
    100% {
        opacity: 1;
        top: 0;
        right: 0;
     }
}
@keyframes fadeOutMenu {
    0% {
        opacity: 1;
        right: 0;
    }
    100% {
        opacity: 0.5;
        right: -100%;
     }
}
.fadeInMenu {
    animation-name: fadeInMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.fadeOutMenu {
    animation-name: fadeOutMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.header-menu > .header-menu__vertical {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
}
.header-menu > .header-menu__vertical > .header-menu__vertical--open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    min-width: 32rem;
    max-width: 45rem;
    height: 100vh;
    padding: 2rem 0;
    background-color: var(--primary);
}
.header-menu > .header-menu__vertical > .menu--opaque {
    width: calc(100% - 40rem);
    background-color: var(--primary);
    opacity: 0.5;
}
.header-menu__vertical--open > .menu__section {
    height: 3.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid var(--white);
    color: var(--secondary);
}
.header-menu__vertical--open > a:hover {
    color: var(--black);
    background-color: var(--secondary);
    transition: 0.3s;
}
.header-menu__vertical--open > a {
    display: block;
    width: 100%;
    height: 3.8rem;
    padding: 1rem 4rem;
    font-size: 1.6rem;
}
.header-menu__vertical--open > .close {
    margin: 2rem 1rem;
    top: 0;
    right: 0;
    width: 3.2rem;
    height: 3.2rem;
    filter: invert(85%);
}
.header-menu__vertical.inactive {
    display: none;
}
/* Contenido principal */
main {
    position: relative;
    display: block;
    width: 100vw;
    height: 80vh;
    min-height: 420px;
    min-width: 320px;
    background-color: var(--primary);
}
/* Pie de página */
footer {
    width: 100vw;
    height: 10vh;
    min-width: 320px;
    min-height: 64px;
    padding: 0.4rem;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
    color: var(--font-color-secondary);
    background-color: var(--primary);
}

footer p {
    display: inline;
}
/* Para móviles de forma :horizontal */
@media screen and (orientation: landscape) and (max-height: 600px) {
    header {
        min-height: 35px;
    }
    .header-logos > div {
        width: 3rem;
        height: 3rem;
    }
    .header-menu .header-menu__icon {
        width: 3rem;
        height: 3rem;
    }
    main {
        min-height: 250px;
    }
    footer {
        padding: 0.2rem;
        min-height: 40px;
    }
}
