:root {
    --mural-section-short: 30px;
    --height-portrait-mural: calc(100% - var(--mural-section-short));
}
header {
    min-height: 65px;
}
.header-logos > div {
    width: fit-content;
    height: 6rem;
}
.header-menu .header-menu__icon {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}
.header-title {
    width: 100%;
    padding: 1rem;
}
.header-title > h1 {
    font-size: 2.4rem;
}
.header-menu__vertical > .header-menu__vertical--open > .close {
    margin: 4rem 2.5rem;
}
footer {
    padding: 2rem;
    font-size: 1.1rem;
}
