.use-license {
    padding: 1rem 15rem;
    font-size: 1.4rem;
    height: 100%;
    overflow-y: auto;
}
.use-license * {
    color: #b2b2b2;
}

.use-license > p:not(.use-license__title) {
    line-height: 1.6;
    text-align: justify;
}
.use-license > p em.bold {
    font-weight: bold;
    font-style: normal;
}
.use-license__title {
    margin: 1.6rem 0;
    font-size: 1.8rem;
}
.quote {
    font-style: normal;
    margin: 1rem 0;
    padding: 1.6rem;
    border-left: 2px dotted var(--bg-light);
    color: var(--secondary);
}

@media screen and (max-width: 680px) {
    .use-license {
        padding: 1rem 2rem;
    }
}