<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/icons/favicon.svg">
    <title>DCC | Créditos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/tablet.css" media="only screen and (min-width: 600px) and (min-height: 600px)">
    <link rel="stylesheet" href="../css/desktop_header.css" media="only screen and (min-width: 992px)">
    <link rel="stylesheet" href="../css/credits.css">
</head>
<body>
    <header>
        <div class="header-logos">
            <div class="unam">
                <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_unam.png" alt="Logo Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
                </a>
            </div>
            <div class="esteticas">
                <a href="http://www.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_esteticas.png" alt="Logo Instituto de investigaciones estéticas" title="Instituto de investigaciones estéticas">
                </a>
            </div>
            <div class="murales">
                <a href="http://www.pinturamural.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <picture>
                        <source media="(min-width: 992px)" srcset="../img/logos/logo_mural_desktop.png">
                        <img src="../img/logos/logo_mural_movil.png" alt="Logo Mural Prehispánico" title="Mural Prehispánico">
                    </picture>

                </a>
            </div>
        </div>
        <div class="header-title">
            <h1><a href="../index.html">Pintura mural de Cacaxtla, desplegados.</a></h1>
        </div>
        <div class="header-menu">
            <span class="header-menu__icon" onclick="manageMenu()"></span>

            <div class="header-menu__vertical inactive">
                <div class="menu--opaque" onclick="manageMenu()"></div>
                <div class="header-menu__vertical--open">
                    <span class="close" onclick="manageMenu()"></span>
                    <p class="menu__section">Menú</p>
                    <a href="../index.html">Inicio</a>
                    <a href="./murales.html?section=1">Subestructura del Edificio B</a>
                    <a href="./murales.html?section=2">Templo Rojo</a>
                    <a href="./murales.html?section=3">Templo de Venus</a>
                    <a href="./murales.html?section=4">Edificio A</a>
                    <a href="./use_license.html">Licencia de uso</a>
                    <a class="submenu" href="./use_license.html#howToQuote">Como citar</a>
                    <a href="./legal_notice.html">Aviso legal</a>
                    <a href="./credits.html">Créditos</a>
                    <a href="./help.html">Herramientas de navegación</a>
                    <p class="menu__section">Enlace externo</p>
                    <a href="http://www.ebooks.esteticas.unam.mx/items/show/67" target="_blank">Catálogo Cacaxtla</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="created_by">
            <h1>Créditos</h1>
            <div class="teamwork">
                <div>
                    <p class="team">Coordinación</p>
                    <p>Citlali Coronel Sánchez</p>
                </div>
                <div>
                    <p class="team">Desarrollo e implementación</p>
                    <p>Damián Rivera González</p>
                </div>
                <div>
                    <p class="team">Diseño</p>
                    <p>Damián Rivera González</p>
                    <p>Martha Vargas Fabián</p>
                    <p>Citlali Coronel Sánchez</p>
                </div>
                <div>
                    <p class="team">Tratamiento digital de imágenes</p>
                    <p>Martha Vargas Fabián</p>
                </div>
                <div>
                    <p class="team">Fotografía</p>
                    <p>Ricardo Alvarado Tapia</p>
                    <p>Patricia Peña González</p>
                    <p>María de Jesús Chávez Callejas</p>
                    <p>Carlos Martínez Rosas Landa</p>
                    <p>Teresa del Rocío González Melchor</p>
                </div>
                <div>
                    <p class="team">Dibujo</p>
                    <p>Citlali Coronel Sánchez</p>
                    <p>Ana Ofelia Yáñez Barragán</p>
                    <p>Carmen Delgado Ornelas</p>
                    <p>Idián Rocío Álvarez Alcántara</p>
                </div>
                <div>
                    <p class="team">Representaciones gráficas arquitectónicas</p>
                    <p>Iraís Hernández Ortiz con apoyo de Víctor Hugo Godoy Aguirre</p>
                </div>
                <div>
                    <p class="team">Textos</p>
                    <p>Fernanda Salazar Gil</p>
                </div>
                <div>
                    <p class="team">Corrección de estilo</p>
                    <p>Fernanda Salazar Gil</p>
                    <p>Jaime Soler Frost</p>
                </div>
                <div>
                    <p class="team">Asesoría jurídica</p>
                    <p>Lourdes Padilla Cabrera</p>
                </div>
                <div>
                    <p>Agradecemos el apoyo de los integrantes del Departamento de Cómputo del Instituto de Investigaciones Estéticas:</p>
                    <p>Isset Guerrero Galache</p>
                    <p>Tania Ixchel Pérez</p>
                    <p>Victor Hugo Zamora Guerrero</p>
                </div>
                <div>
                    Con el apoyo del programa PAPIIT de la Dirección General de Asuntos del Personal Académico, UNAM. Proyectos IN402613 y IN404620
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>
            D. R. © 2022 Universidad Nacional Autónoma de México. Proyecto La Pintura Mural Prehispánica en México.
            Imágenes: Acervo del proyecto La Pintura Mural Prehispánica en México.
            <br>
            Reproducción autorizada por el Instituto Nacional de Antropología e Historia.
            Sitio web administrado por: Instituto de Investigaciones Estéticas, iieweb@unam.mx
            <br>
            Última actualización 30/06/2022.
        </p>
        <a href="./credits.html">Créditos</a>
    </footer>
    <script src="../src/menu.js"></script>
    <script src="../src/route.js"></script>
</body>
</html>