<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCC | Créditos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/tablet.css" media="only screen and (min-width: 600px) and (min-height: 600px)">
    <!-- <link rel="stylesheet" href="../css/desktop.css" media="only screen and (min-width: 992px)"> -->
    <link rel="stylesheet" href="../css/credits.css">
</head>
<body>
    <header>
        <div class="header-logos">
            <div class="unam">
                <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_unam.png" alt="Logo Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
                </a>
            </div>
            <div class="esteticas">
                <a href="http://www.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_esteticas.png" alt="Logo Instituto de investigaciones estéticas" title="Instituto de investigaciones estéticas">
                </a>
            </div>
            <div class="murales">
                <a href="http://www.pinturamural.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <picture>
                        <source media="(min-width: 992px)" srcset="../img/logos/logo_mural_desktop.png">
                        <img src="../img/logos/logo_mural_movil_update.png" alt="Logo Mural Prehispánico" title="Mural Prehispánico">
                    </picture>

                </a>
            </div>
        </div>
        <div class="header-title">
            <h1 onclick="redirectToHome()">Desplegados del Catálogo de Cacaxtla</h1>
        </div>
        <div class="header-menu">
            <span class="header-menu__icon" onclick="manageMenu()"></span>

            <div class="header-menu__vertical inactive">
                <div class="menu--opaque" onclick="manageMenu()"></div>
                <div class="header-menu__vertical--open">
                    <span class="close" onclick="manageMenu()"></span>
                    <p class="menu__section">Menú</p>
                    <a href="../index.html">Inicio</a>
                    <a href="./murales.html?section=1">Subestructura del Edificio B</a>
                    <a href="./murales.html?section=2">Templo Rojo</a>
                    <a href="./murales.html?section=3">Templo de Venus</a>
                    <a href="./murales.html?section=4">Edificio A</a>
                    <a href="./use_license.html">Licencia de uso</a>
                    <a href="./legal_notice.html">Aviso legal</a>
                    <a href="./credits.html">Créditos</a>
                    <p class="menu__section">Enlaces externos</p>
                    <a href="http://www.pinturamural.esteticas.unam.mx/CacaxtlaCat#overlay-context=user/1" target="_blank">Catálogo Cacaxtla</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="created_by">
            <h1>Involucrados en el desarrollo del sitio:</h1>
            <div class="teamwork">
                <div>
                    <p>Integrante #</p>
                    <p>Breve descripción del integrante.</p>
                </div>
                <div>
                    <p>Integrante #</p>
                    <p>Breve descripción del integrante.</p>
                </div>
                <div>
                    <p>Integrante #</p>
                    <p>Breve descripción del integrante.</p>
                </div>
                <div>
                    <p>Integrante #</p>
                    <p>Breve descripción del integrante.</p>
                </div>
                <div>
                    <p>Integrante #</p>
                    <p>Breve descripción del integrante.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>
            D. R. © 2022 Universidad Nacional Autónoma de México. Proyecto La pintura mural prehispánica en México.
            Imágenes: Acervo del proyecto La pintura mural prehispánica en México. Reproducción autorizada por el Instituto Nacional de Antropología e Historia.
            Sitio web administrado por: Instituto de Investigaciones Estéticas, iieweb@unam.mx
            Última actualización 09/09/2022.
        </p>
        <a href="./credits.html">Créditos</a>
    </footer>
    <script src="../src/menu.js"></script>
    <script src="../src/route.js"></script>
</body>
</html>