<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/icons/favicon.svg">
    <title>DCC | Licencia de uso</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/tablet.css" media="only screen and (min-width: 600px) and (min-height: 600px)">
    <link rel="stylesheet" href="../css/desktop_header.css" media="only screen and (min-width: 992px)">
    <link rel="stylesheet" href="../css/use_license.css">
</head>
<body>
    <header>
        <div class="header-logos">
            <div class="unam">
                <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_unam.png" alt="Logo Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
                </a>
            </div>
            <div class="esteticas">
                <a href="http://www.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <img src="../img/logos/logo_esteticas.png" alt="Logo Instituto de investigaciones estéticas" title="Instituto de investigaciones estéticas">
                </a>
            </div>
            <div class="murales">
                <a href="http://www.pinturamural.esteticas.unam.mx/" target="_blank" rel="noopener noreferrer">
                    <picture>
                        <source media="(min-width: 992px)" srcset="../img/logos/logo_mural_desktop.png">
                        <img src="../img/logos/logo_mural_movil.png" alt="Logo Mural Prehispánico" title="Mural Prehispánico">
                    </picture>

                </a>
            </div>
        </div>
        <div class="header-title">
            <h1><a href="../index.html">Pintura mural de Cacaxtla, desplegados.</a></h1>
        </div>
        <div class="header-menu">
            <span class="header-menu__icon" onclick="manageMenu()"></span>

            <div class="header-menu__vertical inactive">
                <div class="menu--opaque" onclick="manageMenu()"></div>
                <div class="header-menu__vertical--open">
                    <span class="close" onclick="manageMenu()"></span>
                    <p class="menu__section">Menú</p>
                    <a href="../index.html">Inicio</a>
                    <a href="./murales.html?section=1">Subestructura del Edificio B</a>
                    <a href="./murales.html?section=2">Templo Rojo</a>
                    <a href="./murales.html?section=3">Templo de Venus</a>
                    <a href="./murales.html?section=4">Edificio A</a>
                    <a href="./use_license.html">Licencia de uso</a>
                    <a class="submenu" href="./use_license.html#howToQuote">Como citar</a>
                    <a href="./legal_notice.html">Aviso legal</a>
                    <a href="./credits.html">Créditos</a>
                    <a href="./help.html">Herramientas de navegación</a>
                    <p class="menu__section">Enlace externo</p>
                    <a href="http://www.ebooks.esteticas.unam.mx/items/show/67" target="_blank">Catálogo Cacaxtla</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="use-license">
            <h1 class="use-license__title">LICENCIA DE USO</h1>
            <p>
                Ésta es la <em class="bold">“LICENCIA DE USO”</em> mediante la cual la Universidad Nacional Autónoma de México, en adelante <em class="bold">“LA UNAM”</em> a través del Instituto de Investigaciones Estéticas, en adelante, <em class="bold">“EL INSTITUTO”</em>, como titular del presente sitio, pone a disposición <em class="bold">“EL MATERIAL”</em> perteneciente al <em class="bold">LA PINTURA MURAL PREHISPÁNICA EN MÉXICO</em> del Instituto de Investigaciones Estéticas a través del sitio <a href="http://www.pinturamural.esteticas.unam.mx/desplegados_cx">http://www.pinturamural.esteticas.unam.mx/desplegados_cx</a>
            </p>
            <p>
                Esta <em class="bold">“LICENCIA DE USO”</em> constituye un acuerdo tácito entre usted, en adelante, <em class="bold">“LA PERSONA USUARIA”</em> y <em class="bold">“LA UNAM”</em> por lo que configura la aceptación plena e incondicional por parte de <em class="bold">“LA PERSONA USUARIA”</em> con <em class="bold">“LA UNAM”</em>.
            </p>
            
            <p class="use-license__title">Condiciones de uso</p>
            <p>
                La presente <em class="bold">“LICENCIA DE USO”</em> se otorga de manera gratuita y no exclusiva y no implica una cesión de derechos. <em class="bold">“LA PERSONA USUARIA”</em> es libre de utilizar <em class="bold">“EL MATERIAL”</em> con fines académicos, no lucrativos, ni comerciales. <em class="bold">“LA PERSONA USUARIA”</em> se compromete en todo momento a respetar el derecho moral de las personas autoras, así como a citar de manera correcta y dar los créditos debidos siempre que haga uso de <em class="bold">“EL MATERIAL”</em>. <span id="howToQuote"> La citación requerida es:</span>
            </p>
            <p class="quote">
                Archivo fotográfico del proyecto La Pintura Mural Prehispánica en México / Instituto de Investigaciones Estéticas, UNAM / url / fecha de consulta.
            </p>
            <p>
                <em class="bold">“LA UNAM”</em> es titular de los derechos patrimoniales de <em class="bold">“EL MATERIAL”</em> sin perjuicio de los derechos morales que pertenezcan a sus autores o, en su caso, cuenta con la autorización expresa de los titulares de esos derechos, salvo en el caso de las obras que, por el transcurso del tiempo, conforme a la legislación nacional, hayan pasado al dominio público.
            </p>
            <p>
                <em class="bold">“LA UNAM”</em> sólo gestiona los derechos de su titularidad. En caso de que algún material involucre derechos de terceros usted es responsable de gestionarlos ante quien corresponda.
            </p>
            
            <p class="use-license__title">Aceptación de las condiciones de uso</p>
            <p>
                Al ingresar y consultar <em class="bold">“EL MATERIAL”</em>, <em class="bold">“LA PERSONA USUARIA”</em> está aceptando las condiciones aquí estipuladas, por lo que, como en un contrato de adhesión, se entiende expresada su aceptación plena e incondicional.
            </p>
            <p>
                Cada usuario tiene la obligación de leer cuidadosamente esta <em class="bold">“LICENCIA DE USO”</em> por lo que en caso de no estar de acuerdo con los términos de esta <em class="bold">“LICENCIA DE USO”</em> se le pide a <em class="bold">“LA PERSONA USUARIA”</em> se abstenga de consultar <em class="bold">“EL MATERIAL”</em>.
            </p>
            <p>
                Queda estrictamente prohibido el descargar o transmitir <em class="bold">“EL MATERIAL”</em> por vía electrónica, así como utilizarlo y/o reproducirlo por cualquier medio impreso electrónico o mecánico, incluyendo el almacenamiento de datos y los sistemas de recuperación, grabación, impresión o cualquier otro conocido o por conocerse.
            </p>
            <p>
                La presente <em class="bold">“LICENCIA DE USO”</em> se rige por las leyes mexicanas, por lo que cualquier disputa en relación a la interpretación y cumplimiento de las presentes disposiciones, así como para lo no previsto en las mismas serán sustanciadas ante la jurisdicción mexicana, sometiéndose a la jurisdicción de los Tribunales Federales de la Ciudad de México, y a las disposiciones contenidas en la Ley Federal del Derecho de Autor, en el Código Civil Federal vigente y demás aplicables al caso, renunciando <em class="bold">“LA PERSONA USUARIA”</em> expresamente al fuero que por razón de su domicilio presente o futuro pudiera corresponderle.
            </p>
        </section>
    </main>
    <footer>
        <p>
            D. R. © 2022 Universidad Nacional Autónoma de México. Proyecto La Pintura Mural Prehispánica en México.
            Imágenes: Acervo del proyecto La Pintura Mural Prehispánica en México.
            <br>
            Reproducción autorizada por el Instituto Nacional de Antropología e Historia.
            Sitio web administrado por: Instituto de Investigaciones Estéticas, iieweb@unam.mx
            <br>
            Última actualización 30/06/2022.
        </p>
        <a href="./credits.html">Créditos</a>
    </footer>
    <script src="../src/menu.js"></script>
    <script src="../src/route.js"></script>
</body>
</html>